{% extends "base.html" %}

{% block content %}

<h2>Recent Feedback</h2>

<!-- Check if there is any feedback to display -->
{% if feedback_items %}
  <table class="table table-striped">
    <thead>
        <tr>
            <th>Type</th>
            <th>Target ID</th>
            <th>
                Rating
                <a href="{{ url_for('feedback.get_recent_feedback', sort_by='rating_num', order='asc', acct_ID=request.args.get('acct_ID')) }}">▲</a>
                <a href="{{ url_for('feedback.get_recent_feedback', sort_by='rating_num', order='desc', acct_ID=request.args.get('acct_ID')) }}">▼</a>
            </th>
            <th>Message</th>
            <th>
                Date
                <a href="{{ url_for('feedback.get_recent_feedback', sort_by='review_date', order='asc', acct_ID=request.args.get('acct_ID')) }}">▲</a>
                <a href="{{ url_for('feedback.get_recent_feedback', sort_by='review_date', order='desc', acct_ID=request.args.get('acct_ID')) }}">▼</a>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for feedback in feedback_items %}
        <tr>
            <td>{{ 'Product' if feedback.is_product else 'Seller' }}</td>
            <td>{{ feedback.target_id }}</td>
            <td>{{ feedback.rating_num }}</td>
            <td>{{ feedback.rating_message }}</td>
            <td>{{ feedback.review_date.strftime('%Y-%m-%d %H:%M') }}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>

{% else %}
    <p>No feedback available.</p>
{% endif %}
<a href="{{ url_for('index.index') }}" class="btn btn-primary mt-3">Continue Shopping</a>
{% endblock %}
