{% extends "base.html" %}

{% block content %}

<br><br>

<h2>Products for Sale:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
      <th scope="col">Actions</th> <!-- Add to Wishlist button -->
      <th scope="col"></th> <!-- Add to Wishlist button -->
    </tr>
  </thead>
  <tbody>
    {% for product in avail_products %}
      <tr>
        <th scope="row">{{ product.id }}</th>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td>
          <form action="{{ url_for('wishlist.wishlist_add', product_id=product.id) }}" method="POST">
            <input type="submit" value="Add to Wishlist" class="btn btn-primary"/>
          </form>
        </td> <!-- Add to Wishlist button in each row -->
        <td>
          <form action="{{ url_for('purchase.purchase_add', product_id=product.id) }}" method="POST">
            <input type="submit" value="Purchase" class="btn btn-primary"/>
          </form>
        </td> <!-- Add to Wishlist button in each row -->
      </tr>
    {% endfor %}
  </tbody>
</table>

<br><br>
{% if current_user.is_authenticated %}
<h2>Your recent purchases:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Purchase ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
      <th scope="col">Purchase Time</th>
    </tr>
  </thead>
  <tbody>
    {% for purchase in purchase_history %}
      <tr>
        <th scope="row">{{ purchase.id }}</th>
        <td>{{ purchase.product_name }}</td>
        <td>{{ purchase.product_price }}</td>
        <td>{{ purchase.time_purchased }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<h2>Sellers' Products:</h2>
<div class="search">
  <label for="searchOrder">Search ID:</label>
    <input type="text" placeholder="Search.." />
    <button type="button" onclick="submitSearchForm()">Search</button>
    <button type="button" onclick="clearSearchForm()">Clear</button>
</div>
<table class="table table-hover table-bordered container">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Account ID</th>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
    </tr>
  </thead>
  <tbody>
    {% for seller in sellers %}
      <tr>
        <th scope="row">{{ seller.acct_id }}</th>
        <td>{{ seller.product_id }}</td>
        <td>{{ seller.name }}</td>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to see your purchase history!</p>
{% endif %}

{% endblock %}
