{% extends "base.html" %}

{% block content %}

<br><br>

<h2>Products for Sale:</h2>
<table class='table table-hover table-bordered container'>
    <thead class="thead-dark">
    <tr>
        <th scope="col">Product ID</th>
        <th scope="col">Product Name</th>
        <th scope="col">Price</th>
        <th scope="col">Category</th>
        <th scope="col">Actions</th> <!-- Add to Wishlist button -->
        <th scope="col">Actions</th> <!-- Add to Cart button -->
        <th scope="col">Purhase</th> <!-- Purchase button -->
        <th scope="col">Details</th> <!-- View Details button -->
    </tr>
    </tr>
    </thead>
    <tbody>
        {% for product in avail_products %}
        <tr>
            <th scope="row">{{ product.id }}</th>
            <td>{{ product.name }}</td>
            <td>${{ product.price }}</td>
            <td>{{ product.name }}</td>
            <td>
                <form action="{{ url_for('wishlist.wishlist_add', product_id=product.id) }}" method="POST">
                    <input type="submit" value="Add to Wishlist" class="btn btn-primary"/>
                </form>
            </td>
            <td>
                <form action="{{ url_for('cart.cart_add', product_id=product.id) }}" method="POST">
                    <input type="submit" value="Add to Cart" class="btn btn-primary"/>
                </form>
            </td>
            <td>
                <form action="{{ url_for('purchase.purchase_add', product_id=product.id) }}" method="POST">
                    <input type="submit" value="Purchase" class="btn btn-primary"/>
                </form>
            </td>
            <td>
                <!-- Add the "View Details" link -->
                <a href="{{ url_for('product.detail', product_id=product.id) }}" class="btn btn-primary">
                    View Details
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<br><br>
{% if current_user.is_authenticated %}


<h2>Your Cart:</h2>
<p><a href="{{ url_for('cart.cart', uid=current_user.id) }}" class="btn btn-success">View Cart</a></p>

<h2>Your Recent Orders</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Purchase Time</th>
            <th>Total Cost</th>
            <th>Total Items</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr>
            <td>{{ order.order_id }}</td>
            <td>{{ order.purchase_time | humanize_time }}</td>
            <td>${{ "%.2f"|format(order.total_cost) }}</td>
            <td>{{ order.total_items }}</td>
            <td>
                <a href="{{ url_for('index.order_details', order_id=order.order_id) }}" class="btn btn-info">
                    View Items
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Search Sellers' Products:</h2>
<form method="GET" action="/sellers/user">
  <label for="acct_ID">Seller ID:</label>
  <input type="text" name="acct_ID" placeholder="Enter Seller Account ID">
  <input type="submit" value="Submit">
</form>

<h2>Search User's Cart:</h2>
<form method="GET" action="/cart/user">
  <label for="acct_ID">User ID:</label>
  <input type="text" name="acct_ID" placeholder="Enter User ID">
  <input type="submit" value="Search Cart">
</form>

<h2>Search User's Purchases:</h2>
<form method="GET" action="/purchase/user">
  <label for="acct_ID">User ID:</label>
  <input type="text" name="acct_ID" placeholder="Enter User ID">
  <input type="submit" value="Submit">
</form>

<h2>Search User's Feedback:</h2>
<form method="GET" action="/feedback/user">
  <label for="acct_ID">Feedback ID:</label>
  <input type="text" name="acct_ID" placeholder="Enter Feedback ID" required>
  <input type="submit" value="Submit">
</form>

<h2>Find Top K Expensive Products:</h2>
<form method="GET" action="/products/top_k">
  <label for="k">Enter K:</label>
  <input type="number" name="k" placeholder="Enter a number" required>
  <input type="submit" value="Submit">
</form>

{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to see your cart and order history!</p>
{% endif %}

{% endblock %}
