{% extends "base.html" %}

{% block msg %}
  <h1 style="color: aliceblue;">Your Purchases</h1>
  <div style="color: aliceblue; text-align: right; margin-bottom: 25px;">
    {% if current_user.is_authenticated %}
      Hello {{ current_user.firstname }}! <a href="{{ url_for('users.logout') }}" type="button" class="btn btn-light">Log out</a>
    {% else %}
      <a href="{{ url_for('users.login') }}" type="button" class="btn btn-light">Log in</a>
    {% endif %}
  </div>
{% endblock %}

{% block content %}
  <div class="container mt-5">
    <p>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
    </p>
    {% if items %}
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Product ID</th>
            <th scope="col">Product Name</th>
            <th scope="col">Price</th>
            <th scope="col">Time Added</th>
          </tr>
        </thead>
        <tbody>
          {% for item in items %}
          <tr>
            <td>
              <a href="{{ url_for('product.detail', product_id=item.pid) }}">{{ item.pid }}</a>
            </td>
            <td>
              <a href="{{ url_for('product.detail', product_id=item.pid) }}">{{ item.product_name }}</a>
            </td>
            <td>
              <a href="{{ url_for('product.detail', product_id=item.pid) }}">{{ item.product_price }}</a>
            </td>            
            <td>{{ item.time_purchased | humanize_time }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No recent purchases.</p>
    {% endif %}
    <a href="{{ url_for('index.index') }}" class="btn btn-primary mt-3">Continue Shopping</a>
  </div>
{% endblock %}
