{% extends "base.html" %}

{% block msg %}

<table class='table table-bordered table-striped table-light'>
  <thead class="thead-dark"> <!-- Ensures dark header with white text -->
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    {% for product in products %}
      <tr>
          <td>{{ product.product_ID }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.price }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
