{% extends "base.html" %} {% block content %}

<br /><br />

<h2>Sellers' Products:</h2>
<div class="search">
  <label for="searchOrder">Search ID:</label>
    <input type="text" placeholder="Search.." />
    <button type="button" onclick="submitSearchForm()">Search</button>
    <button type="button" onclick="clearSearchForm()">Clear</button>
  </div>
</div>
<table class="table table-hover table-bordered container">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    {% for product in avail_products %}
      <tr>
        <th scope="row">{{ product.id }}</th>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
