{% extends "base.html" %} {% block content %}

<br /><br />

<h2>Sellers' Products:</h2>
<div class="search">
  <label for="searchOrder">Search ID:</label>
    <input type="text" placeholder="Search.." />
    <button type="button" onclick="submitSearchForm()">Search</button>
    <button type="button" onclick="clearSearchForm()">Clear</button>
  </div>
</div>
<table class="table table-hover table-bordered container">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Seller ID</th>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
    </tr>
  </thead>
  <tbody>
    {% for seller in sellers%}
    <tr>
      <th scope="row">{{ seller.seller_id }}</th>
      <td>{{ seller.product_id }}</td>
      <td>{{ seller.name }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
